body{
height: 100vw;
width: 100vw;
background-color: #656364;
margin: 0;

display: grid;
grid-template-rows: 75px 50px;
grid-template-columns: 75px auto auto 75px; 
}



.header{
background-color: #444243;
grid-column-start: 1;
grid-column-end: 5;
position: relative;
}


.wrapper{    
display: flex;
justify-content: center;
position: relative;
text-align: center;
box-shadow: inset 0px 10px 0px 0px rgba(0,0,0,0.45);
}

.forum{
    background-color: #929292;
    grid-row-start: 2;
    grid-column-start: 2; 
    margin-right: 5px;  
    }
    
.om_oss{
background-color: #929292;
grid-row-start: 2;
grid-column-start: 3;
margin-left: 5px;
}

a{
    color: #bcb7bc;  
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex_header{
display: flex;
position: fixed;    
}



